*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Alumni Sans Pinstripe', sans-serif;;
}
body{
    background-color: #1c2337;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-container{
    border:1px solid white;
    width: 350px;
    height:450px;
    border-radius: 25px;
}
.display{
    border: 0.2px solid white;
    height:100px;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputBox{
    height:100px;
    width: 90%;
    letter-spacing: 1px;
    border: none;
    background: none;
    color: white;
    padding-top: 10px;
    font-size: 70px;
    text-align: end;
    cursor:default;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
#resultsBox{
    font-size: 20px;
    height: 30px;
    width: 90%;
    color: white;
    text-align: end;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}
#button-container{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 5px 0px 0px 8px;

}
.box{
    border: 1px solid white;
    width:50px;
    height:50px;
    border-radius: 10px;
    color: white;
    user-select: none;
}
.button {
    font-size: 35px;
    text-align: center;
   
}

.sqroot{
    padding-top: 5px;
    font-size: 30px;
    font-weight:lighter
}
.sqrd{
    padding-left:3px
}
sup{
    font-size: 20px;
}
.logoText{
    padding-top: 5px;
    border: 1px solid white;
    border-top: none ;
    border-left: none ;
    width:190px;
    color: white;
    font-size: 35px;
    font-weight: bolder;
}


