*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Alumni Sans Pinstripe', sans-serif;;
}
body{
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-container{

    width: 350px;
    height:450px;
    border-radius: 25px;
    background: rgba(0, 94, 255, 0.126);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.display{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height:100px;
    border-radius: 25px 25px 0 0;
    background-color: rgba(33, 226, 247, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputBox{
    height:100px;
    width: 90%;
    letter-spacing: 1px;
    border: none;
    background: none;
    color: white;
    padding-top: 10px;
    font-size: 70px;
    text-align: end;
    cursor:default;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 25px;
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    color:rgba(255, 255, 255, 0.8)
}


#resultsBox{
    font-size: 20px;
    height: 35px;
    width: 90%;
    color: white;
    text-align: end;
    padding-right: 10px;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

#button-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 15px 0px 0px 0px;
}

.box{
    border: 1px solid white;
    width:50px;
    height:50px;
    border-radius: 10px;
    color: white;
    user-select: none;
}
.button {
    font-size: 35px;
    text-align: center;
    background-color: rgba(28, 174, 174, 0.2) ;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.num{
    background-color: rgba(29, 195, 250, 0.2) ;
}
.decimal{
    background-color: rgba(28, 174, 174, 0.2) ;
}
.button:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;}


.AC{
    background-color: rgba(242, 3, 3, 0.2) ;
}
.C{
    background-color: rgba(177, 73, 73, 0.2) ;
}
.sqroot{
    padding-top: 5px;
    font-size: 30px;
    font-weight:lighter
}
.sqrd{
    padding-left:3px
}
sup{
    font-size: 20px;
    pointer-events: none;
}
.logoText{
    padding-top: 12px;
    border: 1px solid rgb(254, 252, 252);
    border-top: none ;
    border-left: none ;
    width:185px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 21px;
    font-weight: bolder;
    font-family: 'Audiowide', cursive;
}

.inferno{
    display: none;
    color:red;
}


